<%- include('../partials/header'); %>

    <main class="main container">
        <h3>He's no monster, gaston. You are.</h3>
        <img src="/media/monstars 2.gif">
    </main>

<%- include('../partials/footer'); %>